@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*:focus {
    outline: none;
}

*::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: white;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #f1356d;
    border-radius: 20px;
    border: 3px solid #f1356d;
  }

body{
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    font-family:"Quicksand";
    scrollbar-width: thin;
    scrollbar-color: #f1356d white;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

i{
    margin-top: 1vh;
    font-size: 2.5vh;
}

article i:hover{
    cursor: pointer;
    color: black;
}

h1{
    margin: 0.9vh;
    font-size: 5.5vh;
}

h3{
    margin-top: 1vh;
    font-size: 2.5vh;
    padding: 0;
}

h5{
    margin: 0 0 0 1vw;
    font-size: 2vh;
}

h6{
    font-size: 1.5vh;
}

p{
    font-size: 2.2vh;
}

.Navbar{
    display: flex;
    height: 10vh;
    padding-top: 2vh;
    border-bottom: 1px solid gray;
}

.Navbar .Logo{
    display: flex;
    width: 15vw;
    margin-left: 1vw;
}

.Navbar i{
    font-size: 6vh;
    color: #f1356d;
}

.Navbar nav{
    display: flex;
    width: 80vw;
    padding-right: 20vw;
}

.Navbar nav>div{
    margin-left: 31vw;
    padding-top: 3vh;
}

.Navbar a{
    font-size: 3vh;
    color:white;
    background-color: #f1356d;
    border-radius: 1vw;
    padding: 0.5vw;
    text-decoration: none;
    margin: 2vh 2vw 3vh 0;
}

.Content{
    display: flex;
    height: 75vh;
}

.Player{
    display: flex;
    height: 15vh;
    border-top: 1px solid gray;
}

.Player i{
    font-size: 5vh;
    color: #f1356d;
    margin: 0 1vw 0 1vw;
}

.Player i:hover{
    cursor: pointer;
    color: #d3134d;
}

.Player .CurrentSong{
    display: flex;
    padding: 1.5vh 1.5vw 1.5vh;
    width: 20vw;
}
.Player .CurrentSong p{
    margin-left: 1vw;
    font-size: 2vh;
}

.Player .CurrentSong img{
    width: auto;
    height: 10vh;
}

.Player .Controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 57vw;
}

.Player .PlayerButtons{
    display: flex;
    justify-content: center;
    margin-top: -1vh;
}

.Playlist{
    width: 30vw;
    padding: 1vh 5vw;
}
.FindMusic{
    overflow: hidden;
}

.Search{
    margin: 2vh 0 2vh 0;
}

.Search input{
    background-color: white;
    background-image: url('/src/searchicon.png');
    background-origin: content-box;
    background-size: contain;
    background-repeat: no-repeat;
    width: 40vw;
    height: 3vh;
    margin-left: 30vw;
    border-radius: 1vh;
    border: 2px solid gray;
    font-size: 2.5vh;
    padding: 0.5vh 0.5vw;
    text-indent: 2.2vw;
  }

.Results{
    display: flex;
    height: 66.5vh;
}

.Results  .Songs, .Artists, .Albums{
    overflow-y: auto;
    width:calc(100vw * (1/3));
    margin-left: 1vw;
    padding: 1vh;
}

.Results p{
    margin-top: 1vh;
}

/* Header Div */
.Results article>div>div:first-child{
    width: 15vw;
}
/* Image Div */
.Results article>div>div:nth-child(2){
    width: 10vw;
}

.Results .Songs{
    display: flex;
    flex-direction: column;
}

.Results .Songs article>div>div:first-child{
    width: 15vw;
}

.Results .Songs article>div>div:nth-child(2){
    width: 10vw;
}

.Results  .Albums{
    margin-right: 1vw;
}

.Results  .Artists{
    margin-right: 1vw;
}

.Results img{
    height: auto;
    width: 6vw;
    margin: 1vh 0 0 3vw;
}

.Results article>div{
    display: flex;
}

.Results .ResultOptions{
    display: flex;
    flex-direction: column;
}

.Results .ResultOptions i{
    margin-right: 1vw;
}

.Results .PlaylistSong .ResultOptions{
    flex-direction: row;
}

.Results .Songs .PlaylistSong>div>div:first-child {
    width: 20vw;
    padding-right: 0.5vw;
}

.Results .Songs .PlaylistSong>div>div:nth-child(2) {
    width: auto
}

  .Results article{
    border: 1px solid gray;
    border-bottom-color: white;
    padding: 1vh 1vw;
    display: flex;
    justify-content: space-between;
  }

  .Results article:last-child{
    border-bottom-color: gray
  }

  .Results article:hover{
      border: 1px solid #d3134d;
      color: #d3134d;
      cursor: pointer;
  }

  .Results article:hover + article{
    border-top-color: white;
}

  .Results article h6{
      margin: 0;
  }

  /* Background Texts */
  .BgTextSongs {
    display: flex;
    position: relative;
    width:calc(100vw * (1/3));
  }
  
  .BgTextSongs:after {
    content: "SONGS";
    font-size: 5vw;
    position: absolute;
    color: rgba(211,19,77, 0.1);
    top: 15vh;
    left: 7vw;
    z-index: -1;
  }
  
  .BgTextArtists {
    display: flex;
    position: relative;
    width:calc(100vw * (1/3));
  }
  
  .BgTextArtists:after {
    content: "ARTISTS";
    font-size: 5vw;
    position: absolute;
    color: rgba(211,19,77, 0.1);
    top: 15vh;
    left: 7vw;
    z-index: -1;
  }
  
  .BgTextAlbums {
    display: flex;
    position: relative;
    width:calc(100vw * (1/3));
  }
  
  .BgTextAlbums:after {
    content: "ALBUMS";
    font-size: 5vw;
    position: absolute;
    color: rgba(211,19,77, 0.1);
    top: 15vh;
    left: 7vw;
    z-index: -1;
  }
  
  .Artist{
    display: flex;
    width: 94vw;
    margin: 0 2vw;
    overflow:hidden;
}

.Artist .Info{
    display: flex;
    flex-direction: column;
    width:calc(100vw * (2/3));
    overflow-y: scroll;
    padding-right: 1vw;
}

.Artist .Info img{
    height: auto;
    width: 55vw;
}

.Artist .ArtistAlbums{
    display: flex;
    flex-direction: column;
    width:calc(100vw * (1/3));
    overflow-y: scroll;
}

.Artist .ArtistAlbums article:hover{
    cursor: pointer;
}

.Artist article{
    border: 1px solid gray;
    border-bottom-color: white;
    padding: 1vh 1vw;
    display: flex;
    justify-content: space-between;
}

.Artist article img{
    height: 15vh;
    margin-top: 1vh;
    width: auto;
}
.Artist .ArtistAlbums>article>div{
    display: flex;
    width: 100%;
}

.Artist .ArtistAlbums>article>div>div:first-child{
    width: 15vw;
}

.AlbumPage{
    margin: 2vh 40vw;
}
.AlbumPage article{
    width: 50vw;
}

.AlbumPage img{
    width: auto;
    height: 20vh;
}

.Spinner{
    display: flex;
    justify-content: center;
    width: 100vw;
}

.Spinner>img{
    height: 30vh;
    width: auto;
    padding-top: 15vh;
}

.Playlists h2{
    margin: 3.6vh 0 1vh 3.5vh;
    padding: 0;
}

.Playlists>div>p{
    margin: 3.6vh 0 1vh 3.5vh;
}

.Playlists .PlaylistSong{
    display: flex;
    flex-direction: column;
}

  /* Slider */

.SlideContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1vh;
  
  }

  .SlideContainer>div{
      padding: 0 1vh;
  }

  .SlideContainer>div>p{
      margin: 1.6vh 0 0 0;
  }
  
  .Slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 2vh;
    background: #f1356d;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 2vh;

  }
  
  .Slider:hover {
    opacity: 1;
  }
  
  .Slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1vw;
    height: 1vh;
    background: white;
    border-color: white;
    cursor: pointer;
  }
  
  .Slider::-moz-range-thumb {
    width: 1vw;
    height: 1vh;
    background: white;
    border-color: white;
    cursor: pointer;
  }

  @media only screen and (max-width: 940px) {
    .Results article  h3{
        font-size: 1.5vw;
    }
    .Results article>div>div:first-child{
        width: 10vw;
    }

  }

  @media screen and (orientation: landscape){
    .Artist .Info h3{
        font-size: 4vh;
    }

    .Artist .Info h4{
        font-size: 3vh;
    }
      
  }

  @media screen and (orientation: portrait) {

    h1{
        margin: 0.9vh;
        font-size: 5.5vh;
    }
    
    h3{
        margin-top: 1vh;
        font-size: 1.6vw;
        padding: 0;
    }

    h4{
        margin-top: 1vh;
        font-size: 1vw;
        padding: 0;
    }
    
    h5{
        margin: 0 0 0 1vw;
        font-size: 2.2vw;
    }
    
    h6{
        font-size: 1vw;
    }

    p{
        font-size: 1.3vw;
    }

    .Player .Controls p{
        font-size: 2.3vw;
        padding-top: 0.4vh;
    }

    .Player .CurrentSong p{
        font-size: 2vw;
        padding-top: 0.4vh;
    }

    i{
        font-size: 2.5vw;
    }

    .Player .Controls{
        margin-left: 3vw;
    }

    .Search input{
        text-indent: 7vw;
    }

    .Results article{
        padding: 0.5vh 0.5vw;
    }

    .Results .ResultOptions{
        width: 2vw;
    }

    .Results article>div>div:first-child{
        width: 10vw;
    }

    .Results article>div>div:nth-child(2){
        width: 10vw;
    }

    .Results .Songs article>div{
        display: flex;
        flex-direction: column;
    }

    .Results .Songs article>div>div:first-child{
        width: 15vw;
    }

    .Results .Albums img{
        max-width:100%;
        max-height:100%;
    }

    .Artist .ArtistAlbums img{
        height: 5vh;
        width: auto;
    }

    .Player .CurrentSong{
        width: 30vw;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 2vw;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        font-size: 2vw;
      }
      :-ms-input-placeholder { /* IE 10+ */
        font-size: 2vw;
      }
      :-moz-placeholder { /* Firefox 18- */
        font-size: 2vw;
      }
    }

  /* Galaxy S9 */
  @media only screen and (max-width: 360px) and (orientation: portrait){
          .Player .Controls .PlayerButtons i{
        font-size: 7vw;
    }

    .Player .CurrentSong{
        width: 35vw;
    }

    .Player .Controls{
        width: 52vw;
        margin: 0;
    }

    .Player .Controls p{
        font-size: 2.2vw;
    }

    .Artist .Info .Description{
        padding-right: 1vh;
    }

    .Artist .Info .Description p{
        font-size: 2vw;
    }

    .Artist .Info h3{
        font-size: 3vw;
    }

    .Artist .Info .Description h4{
        font-size: 2vw;
    }

    .AlbumPage{
        margin: 2vh 20vw;
    }

    .AlbumPage  h3{
        font-size: 2vh;
    }

    .AlbumPage  p{
        font-size: 1.5vh;
    }

    .AlbumPage  img{
        height: 20vh;
    }

    .Logo > h1
    {
        font-size: 4vh;
        margin-top: 2vh;
    }

}

  /* iPhone 6/7/8 */
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    
    .Player .Controls .PlayerButtons i{
        font-size: 7vw;
    }

    .Player .CurrentSong{
        width: 40vw;
    }

    .Player .Controls{
        width: 57vw;
        margin: 0;
    }

    .Artist .Info .Description{
        padding-right: 1vh;
    }

    .Artist .Info .Description p{
        font-size: 2vw;
    }

    .Artist .Info h3{
        font-size: 3vw;
    }

    .Artist .Info .Description h4{
        font-size: 2vw;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    
    .Logo  h1{
        margin-top: 0.5vh;
    }
}

@media only screen and (min-device-width : 800px) and (max-device-width : 1280px) and (orientation : portrait) {
    
    .Logo  h1{
        margin-top: 1.5vh;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    .Logo h1{
        font-size: 4vh;
        margin-top: 2vh;
    }
}

@media only screen and (min-device-width : 411px) and (max-device-width : 823px) and (orientation : portrait) {
    
    .Logo h1{
        font-size: 4vh;
        margin-top: 2vh;
    }
}